/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*css style*/
body{
    font-family: "PingFang TC","Helvetica Neue";
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px ;
    margin-bottom: 30px;
    height: 42px;
}

.dehaze{
    display: none;
}

.logo-mobile{
    display: none;
}

.nav{
    display: flex;
    align-items: center;
}


.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 215px;
}

.nav-item{
    font-size: 16px;
    font-weight: bold;
}

.nav-item a{
    color: #3F5D45;
    text-decoration: none;
}

.shoppingcart-mobile-link{
    display: none;
}

.banner{
    max-width: 940px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}



.main{
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.meau-content{
    text-align: center;
    width: 33%;
    font-size: 24px;
    font-weight: bold;
    border-left: 1px solid #EAF0ED;
    display: flex;
    flex-direction: column;
}

.meau-content li{
    padding-top: 16px;
    padding-bottom: 16px;
}

.meau-header{
    background-color: #3F5D45;
    color: #EAF0ED;
}

.meau-item{
    color: #3F5D45;
}

.meau-content li a{
    text-decoration: none;
    color: #3F5D45;
}

.meau-item-first{
    background-color: #EAF0ED;
}

/* product */
.product{
    width: 65%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    width: 49%;
    text-align: center;
    border: 1px solid #EAF0ED;
    margin-bottom: 20px;
}

.product-img{
    height: 315px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
}

.tag{
    color: #EAF0ED;
    background-color: #3F5D45;
    font-size: 16px;
    padding: 10px;
    height: 90px;
    width: 18px;
    line-height: 20px;
}

.favorite{
    height: 20px;
    margin-top: 20px;
    cursor: pointer;
}

/* CSS載入圖片 */

.card:nth-child(1) .product-img{
    background-image: url(../img/p-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card:nth-child(2) .product-img{
    background-image: url(../img/p-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card:nth-child(3) .product-img{
    background-image: url(../img/p-3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card:nth-child(4) .product-img{
    background-image: url(../img/p-4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card:nth-child(5) .product-img{
    background-image: url(../img/p-5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card:nth-child(6) .product-img{
    background-image: url(../img/p-6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}





.product-info{
    display: flex;
    justify-content: space-between;
    border: 1px solid #EAF0ED;
    color: #3F5D45;
    
}

.product-info h3{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 33px;
    padding-right: 33px;
    font-weight: 500;
    font-size: 20px;
}

.product-info span{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 25px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
}

.shopping-cart{
    text-align: center;
    background-color: #EAF0ED;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 88px;
    padding-right: 88px;
    font-size: 24px;
}

.shopping-cart a{
    text-decoration: none;
    font-weight: bold;
    color: #3F5D45;
}


.page{
    width: 940px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
}

.pagemarker{
    display: flex;
    justify-content:flex-end ;
    
}

.pagemarker a {
    text-decoration: none;
    width: 60px;
    height: 60px;
    border: 1px solid #EAF0ED;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3F5D45;
}

.pagemarker a:hover{
    background-color: #3F5D45;
    color: #EAF0ED;
    transform: all 1s;
}


.sub-email{
    background-color: #3f5d45;
    padding: 38px;
    
}

.sub-email-title{
    
    display: flex;
    align-items: center;

}

.sub-email form{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.sub-email-title img{
    width: 40px;
    height: 40px;
}

.sub-email-title h3{
    padding-left: 20px;
    color: #EAF0ED;
    font-size: 24px;
    font-weight: bold;
}

.sub-email-email{
    background-color: #EAF0ED;
    width: 380px;
    height: 56px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.sub-email-email img{
    
    padding: 0px 20px;

}

.sub-email-email .input-email{
    border: none;
    background-color: #EAF0ED;
    font-size: 20px;
    line-height: 50px;
    outline: none;
}

.sub-email-email .submit-btn{
    cursor: pointer;
    height: 56px;
    border: none;
    background-color: #FFE180;
}

.footer{
    width: 1024px;
    margin: 0 auto;
}

.footer-content{
    height: 341px;
    background-color: #EAF0ED;
    display: flex;
    justify-content: space-around;
}

.footer-content-left{
    background-color: #EAF0ED;
    height: 100%;
    width: 227px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-content-left-logo{
    width: 171px;
}

.footer-content-left-contact{
    color: #3F5D45;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
}

.footer-content-left-icon{
    display: flex;    
}

.footer-content-left-icon img{
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.footer-content-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    color: #3F5D45;
}

.footer-slogon{
    writing-mode: vertical-rl;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.8;
}

.footer-copyright{
    font-size: 16px;
}







/* RWD CSS */

@media (max-width:767px) {
    .container{
        flex-direction: column;
        align-items: center;
        width: 375px;
    }
    
    /* header */
    .header{

        width: 100%;
        margin-right: auto;
        margin-left: auto;
        height: 20px;
        justify-content: space-around;
        
    }

    .dehaze{
        display: block;
        
    }

    .logo-mobile{
        display: block;
    }

    .logo-pc{
        display: none;
    }

    .nav{
        display: none;
    }

    .shoppingcart-mobile-link{
        display: block;
    }

    /* banner */
    .banner{
        
        margin-bottom: 0;
    }

    /* main */

    .main{
        width: 100%;
        margin-top: 0;
    }

    .meau-content{
        width: 100%;
        margin-bottom: 30px;
    }


    .product{
        width: 100%;
    }

    .card{
        width: 100%;
        padding: 0 30px;
    }

    .page{
        width: 100%;
        
    }

    .pagemarker{
        width: 100%;
        justify-content: center;
    }

    .sub-email form{
        
        flex-direction: column;
        justify-content: center;
        
    }

    .sub-email-title{
        margin-bottom: 30px;
    }

    .sub-email-email{
        max-width: 120%;
    }

    .footer{
        width: 100%;

    }

    .footer-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-content-right{
        justify-content: start;
        align-items: flex-start;
        padding-bottom: 30px;
    }

    .footer-content-right-slogon{
        display: none;
    }
    
}